@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color : #f0f0f0;
    font-family: Roboto,Arial,sans-serif;
}

.flexcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */
header{
    
    background-color:#2874f0;
    color: white;
  
   
}
.bigmenu{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    height: 7vh;

}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
    width: 71px;
    padding: 22px;
    padding-left: 277px;
}

.search{
     display: flex;
     align-items: center;
}

input[type="text"]{
    height: 35px;
    width: 528px;
    border-radius: 5px;
} 
.btn{
    padding: 9px 8px;
    margin: 0 0 0 16px;
    color: white;
    background-color: #2874f0;
    border: white 2px solid;
    font-weight: bold;
    cursor: pointer;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;

}

nav ul li{
    padding: 0 30px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}

.dropdown-content{
    display: none;
    box-shadow: 2px 2px 2px 2px gray;
    background-color: white;
    color: blue;
    position: absolute;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }

.dropdown:hover .dropdown-content{
    display: block;
}
/* category */

.cardCategory{
    display: flex;
    background-color: white;
    border-bottom: gray 2px solid;
    justify-content: space-evenly;
    height: 138px;
    width: 100%;
}

.smallCard{
    width: 138px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.smallCard > img{
    width: 78%;
    padding-top: 0;
}
/* slider */
img{
   
    width: 43%;
}

/* main */


main {
   min-height: 78vh ;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card{
    background-color: white;
    box-shadow: 2px 2px 2px 2px gray;
    justify-content: space-evenly;
    display:  flex;
    margin: 4px;
    height: 325px;
    width: 99%;
}

.starting{
    cursor: pointer;
    width: 138px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

}
.atom{
    cursor: pointer;
    width: 138px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}
.atom > img{
    width: 100%;
    height: 80%;
}
/* footer */
footer{
    background-color:royalblue;
    font-family: 'Lato',sans-serif;
    /* padding: 20px; */
    min-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}